<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>FutureSport Manager</title>
        {% endif %}
    </head>
    <body>
        <div>
          Hello Manager of the FutureSport
          <a href="{{ url_for('index') }}">Home</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>