<!DOCTYPE html>
<html lang="en">
<head>
{% extends "base.html" %}
</head>
<body>
{% block content %}
    <h1>Team: {{ team_name }}</h1>
    <h2>Team Color: {{ team_color }}</h2>
    <h3>Players:</h3>
    {% for player in player_names %}
    <p>
        <div class="row">
            <div class="column">
                {{ player }}
            </div>
            <div class="column">
                <a href="{{ url_for('player_name_change', player_name=player ) }}">Change name?</a>
            </div>
        </div>
    </p>
    {% endfor %}
{% endblock %}
</body>
</html>